<div class="sidebar">
    <div class="item">
        <h2><a href="/admin/panel">Inicio</a></h2>
    </div>
    <div class="item">
        <img src="/images/icons/catalogo/user-solid.png" alt="">
        <h2>Clientes</h2>
        <ul>
            <li><a href="/admin/clientes">Listado de clientes</a></li>
            <li><a href="/admin/clientes/comprobantes">Comprobantes</a></li>
            <li><a href="/admin/clientes/seguimientos">Seguimiento</a></li>
            <li><a href="/admin/clientes/registro">Registrar usuarios</a></li>
        </ul>
    </div>
    <div class="item">
        <img src="/images/icons/catalogo/handshake-solid.png" alt="">
        <h2>Viajantes</h2>
        <ul>
            <li><a href="/admin/viajantes">Listado de viajantes</a></li>
            <li><a href="/admin/viajantes/cobranzas">Cobranzas</a></li>
        </ul>
    </div>
    <div class="item">
        <img src="/images/icons/catalogo/shopping-cart-solid.png" alt="">
        <h2>Pedidos web</h2>
        <ul>
            <li><a href="/admin/pedidos">Listado de pedidos</a></li>
            <li><a href="/admin/pedidos/pendientes">Pendientes web</a></li>
        </ul>
    </div>
    <div class="item">
        <img src="/images/icons/catalogo/tags-solid.png" alt="">
        <h2>Articulos</h2>
        <ul>
            <li><a href="/admin/articulos">Listado de articulos</a></li>
        </ul>
    </div>
    <div class="item">
        <img src="/images/icons/catalogo/paper-plane.png" alt="">
        <h2>Email</h2>
        <ul>
            <li><a href="/admin/correos/clientes/comunicacion">Enviar comunicación</a></li>
        </ul>
    </div>
</div>