<div class="sidebar">
    <div class="item">
        <h2><a href="/admin/panel">Inicio</a></h2>
    </div>
    <div class="item">
        <img src="/images/icons/catalogo/user-solid.png" alt="">
        <h2>Clientes</h2>
        <ul>
            <li><a href="clientes">Listado de clientes</a></li>
            <li><a href="comprobantes">Comprobantes</a></li>
            <li><a href="seguimientos">Seguimiento</a></li>
            <li><a href="registro">Registrar usuarios</a></li>
        </ul>
    </div>
    <div class="item">
        <img src="/images/icons/catalogo/handshake-solid.png" alt="">
        <h2>Viajantes</h2>
        <ul>
            <li><a href="">Listado de viajantes</a></li>
            <li><a href="">Cobranzas</a></li>
        </ul>
    </div>
    <div class="item">
        <img src="/images/icons/catalogo/shopping-cart-solid.png" alt="">
        <h2>Pedidos web</h2>
        <ul>
            <li><a href="">Listado de pedidos</a></li>
            <li><a href="">Pendientes web</a></li>
        </ul>
    </div>
    <div class="item">
        <img src="/images/icons/catalogo/tags-solid.png" alt="">
        <h2>Articulos</h2>
        <ul>
            <li><a href="">Listado de articulos</a></li>
        </ul>
    </div>
</div>