<section class="footer">
    <div class="telefonos">
        <h3>Tel&eacute;fonos:</h3>
        <p>
            011-4912-1618 <br>
            011-4911-8755 <br>
            0800-444-0097
        </p>
    </div>
    <div class="fax">
        <h3>Fax 24 Horas</h3>
        <p>
            0800-777-0097 <br>
            0800-777-0098
        </p>
    </div>
    <div class="mail-redes">
        <h3>E-mail</h3>
        <p>
            info@altamiragroup.com.ar
        </p>
        <h3>Redes Sociales</h3>
        <a href="https://www.facebook.com/Altamiragroupsa/" target="_blank"><img src="/images/icons/facebook-logo.png" alt="Facebook Altamira" style="width:20px"></a>
        <a href="https://www.instagram.com/altamira_group/" target="_blank"><img src="/images/icons/instagram-logo.png" alt="Instagram Altamira" style="width:20px"></a>
    </div>
    <div class="cuentas">
        <div class="provincia">
            <div class="info_cuenta">
                <h3>Banco Provincia</h3>
                <p><b>SUCURSAL:</b> 4002</p>
                <P><b>TIPO DE CUENTA:</b> CUENTA CORRIENTE</P>
                <P><b>Nº DE CUENTA:</b> 50617-7</P>
                <P><b>CBU:</b> 01400021-01400205061771</P>
            </div>
        </div>
        <div class="nacion">
            <h3>Banco Nacion</h3>
            <div class="info_cuenta">
                <p><b>SUCURSAL:</b> 0010</p>
                <P><b>TIPO DE CUENTA:</b> CUENTA CORRIENTE</P>
                <P><b>Nº DE CUENTA:</b> 10010634</P>
                <P><b>CBU:</b> 01100013-20000100106345</P>
            </div>
        </div>
        <div class="credicoop">
            <h3>Banco Credicoop</h3>
            <div class="info_cuenta">
                <p><b>SUCURSAL:</b> 014</p>
                <P><b>TIPO DE CUENTA:</b> CUENTA CORRIENTE</P>
                <P><b>Nº DE CUENTA:</b> 20644-9</P>
                <P><b>CBU:</b> 19100148-55001402064496</P>
            </div>
        </div>
    </div>
</section>