 <section class="contenedor_header">
     <div class="logo">
         <a href="/"><img src="/images/logos/logoaltamira.png" alt=""></a>
     </div>
     <div class="titulo_panel">
         <h1>Panel de Usuarios</h1>
     </div>
     <div class="titulo_usuario">
         <h2>Conectado como: <span id="nombreuser"> <%= cliente.razon_social %>  </span></h2>
         <a href="/logout">Cerrar sesi&oacute;n</a>
     </div>
 </section>