 <header class="container-fluid header">
     <div class="container">
         <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="logo">
                    <a href="/"><img src="/images/logos/logoaltamira.png" alt=""></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="title wrap">
                    <h1>Panel de usuarios</h1>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                <div class="user wrap">
                        <a href="/clientes/perfil">Gomezcollante <img src="/images/icons/catalogo/user-circle-solid.png" alt=""></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">
                <div class="logo-menu wrap">
                    <div class="item one"></div>
                    <div class="item two"></div>
                    <div class="item three"></div>
                </div>
            </div>
         </div>
     </div>
     <div class="container-fluid menu">
         <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <nav class="menu-header hidden">
                        <ul>
                            <li><a href="/precios/">Listas</a></li>
                            <li><a href="/catalogo/">Catálogo</a></li>
                            <li><a href="/destacados/">Revistas</a></li>
                            <li id="drop-down">Operaciones
                                <ul>
                                    <li><a href="/clientes/comprobantes/">Estado de cuenta</a></li>
                                    <li><a href="/clientes/comprobantes/credito/">Notas de crédito</a></li>
                                    <li><a href="/clientes/pagos/">Informar pago</a></li>
                                </ul>
                            </li>
                            <li><a href="">Pedidos</a></li>
                            <li><a href="">Viajante</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
         </div>
     </div>
 </header>