<section class="main-section footer contenedor-total wrap">
    <div class="contenedor wrap">
        <div class="logo wrap">
            <img src="images/logos/logo.png" alt="">
        </div>
        <div class="item wrap">
            <h3>Nosotros</h3>
            <a href="nosotros">Nuestra Empresa</a>
            <a href="catalogos">Cat&aacute;logos</a>
            <a href="revistas">Revistas</a>
            <a href="destacados">Art&iacute;culos destacados</a>
            <a href="precios">Lista de precios</a>
        </div>
        <div class="item wrap">
            <h3>Clientes</h3>
            <a href="sesiones">Panel de usuarios</a>
            <a href="catalogos">Consulta de stock</a>
            <a href="sesiones/cuenta_corriente">Estado de cuenta</a>
            <a href="sesiones/estado_pedido">Estado de pedido</a>
        </div>
        <div class="item wrap">
            <h3>Informaci&oacute;n</h3>
            <a href="ser_cliente">Quiero ser cliente</a>
            <a href="">Contacto</a>
            <a href="preguntas">Preguntas frecuentes</a>
        </div>
    </div>
</section>
<footer>
    <div class="bottom-footer">
        <div class="contenedor">
            <p style="text-align:center;">&copy; Altamira Group S.A. - Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
<script src="https://www.google.com/recaptcha/api.js?onload=cf7srLoadCallback&render=explicit" async defer></script>