<section class="main-section footer contenedor-total wrap">
    <div class="contenedor wrap">
        <div class="logo wrap">
            <img src="images/logos/logo.png" alt="">
        </div>
        <div class="item wrap">
            <h3>Nosotros</h3>
            <a href="/nosotros">Nuestra Empresa</a>
            <a href="/catalogo">Cat&aacute;logos</a>
            <a href="/destacados">Revistas</a>
            <a href="/precios">Lista de precios</a>
        </div>
        <div class="item wrap">
            <h3>Clientes</h3>
            <a href="/ingresar">Panel de usuarios</a>
            <a href="/catalogo">Consulta de stock</a>
            <a href="/clientes/comprobantes">Estado de cuenta</a>
            <a href="/clientes/pedidos">Estado de pedido</a>
        </div>
        <div class="item wrap">
            <h3>Informaci&oacute;n</h3>
            <a href="/cliente">Quiero ser cliente</a>
            <a href="/contacto">Contacto</a>
            <a href="/contacto">Preguntas frecuentes</a>
        </div>
    </div>
</section>
<footer>
    <div class="bottom-footer">
        <div class="contenedor">
            <p style="text-align:center;">&copy; Altamira Group S.A. - Todos los derechos reservados.</p>
        </div>
    </div>
</footer>
<script src="https://www.google.com/recaptcha/api.js?onload=cf7srLoadCallback&render=explicit" async defer></script>