<header class="contenedor-total wrap">

    <div class="logo">
        <a href="/"><img src="/images/logos/logoaltamira.png"></a>
    </div>

    <div class="page-header contenedor wrap">
        <div class="menu-wrapper">            
        </div>        
    </div>
    <nav class="menu">
        <a href="/nosotros/">NOSOTROS</a>
        <a href="/catalogo/">CATALOGO</a>
        <a href="/precios/">PRECIOS</a>
        <a href="/contacto/">CONTACTO</a>
    </nav>    
    <!---------- REDES SOCIALES ENCABEZADO  ------->
    <div class="page-header redes">
        <a class="moblink" href="tel:1160514270"><i class="fab fa-whatsapp fa-2x"></i></a>
        <a href="https://www.instagram.com/altamira_group/" title="Instagram" target="_blank"><i
                class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.facebook.com/Altamiragroupsa/" title="Facebook" target="_blank"><i
                class="fab fa-facebook-square fa-2x"></i></a>
    </div>
    <!-- USUARIOS ----------------------------------------------------------------->
    <div class="page-header usuarios contenedor-total">        
        <div class="usuarios contenedor wrap">
            <a href="/ingresar">
                <%= title_login %>            
            <img src="/images/icons/catalogo/user-circle-solid.png" alt=""></a>
        </div>
    </div>
    <!------ MENU MOVIL ------->
    <div class="menu-movil">
        <div class="menu-section">
            <div class="menu-toggle">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>
    </div>
    <script src="/js/global.js"></script>
</header>