<header class="contenedor-total wrap">
    <div class="page-header contenedor wrap">
        <div class="logo">
            <a href="./"><img src="images/logos/logoaltamira.png" alt="logo Altamira Group" title="Altamira Group S.A."></a>
        </div>
        <nav class="menu">
            <a href="./nosotros" title="Nuestra Empresa">Nosotros</a>
            <a href="./catalogo" title="Cat&aacute;logos de Repuestos">Cat&aacute;logos</a>
            <a href="./precios" title="Precios Autopartes">Precios</a>
            <a href="./destacados" title="Ofertas en repuestos">Destacados</a>
            <a href="./contacto" title="Contactanos">Contacto</a>
        </nav>
    </div>
    <!---------- REDES SOCIALES ENCABEZADO  ------->
    <div class="page-header redes">
        <a class="moblink" href="tel:1160514270"><i class="fab fa-whatsapp fa-2x"></i></a>
        <a href="https://www.instagram.com/altamira_group/" title="Instagram" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.facebook.com/Altamiragroupsa/" title="Facebook" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
    </div>
    <!-- USUARIOS ----------------------------------------------------------------->
    <div class="page-header usuarios contenedor-total">
        <div class="usuarios contenedor wrap">
            <a href="/ingresar">Ingresar</a>
            <i id="usuariosIcon" class="fas fa-user"></i>
        </div>
    </div>
    <!------ MENU MOVIL ------->
    <div class="menu-movil">
        <div class="menu-section">
            <div class="menu-toggle">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
            <nav>
                <ul role="navigation" class="hidden">
                    <li><a href="/">Inicio</a></li>
                    <li><a href="sesiones/redireccion.php">Usuarios</a></li>
                    <li><a href="nosotros" title="Nuestra Empresa">Nosotros</a></li>
                    <li><a href="catalogo" title="Chevrolet Ford Volkswagen">Cat&aacute;logos</a></li>
                    <li><a href="precios" title="Precios">Precios</a></li>
                    <li><a href="destacados" title="Ofertas en Repuestos">Destacados</a></li>
                    <!--------- REDES SOCIALES ----------->
                    <li style="display: flex; margin: 0 21%;">
                        <a class="moblink" href="tel:1160514270"><img src="/images/icons/whatsapp-logo.png" alt="Whatsapp"></a>
                        <a href="https://www.instagram.com/altamira_group/" target="_blank"><img src="/images/icons/instagram-logo.png" alt="Instagram"></a>
                        <a href="https://www.facebook.com/Altamiragroupsa/" target="_blank"><img src="/images/icons/facebook-logo.png" alt="Facebook"></a>
                    <li>
                </ul>
            </nav>
        </div>
        <script src="js/global.js"></script>
    </div>
</header>