<header class="contenedor-total wrap">
    <div class="page-header contenedor wrap">
        <div class="logo">
            <a href="/"><img src="/images/logos/logoaltamira.png" alt="logo Altamira Group" title="Altamira Group S.A."></a>
        </div>
        <div class="new" style="
    text-align: center;
    display: flex;
    margin: 1% 25% 2%;
    background-color: #006bc7;
    flex-direction: column-reverse;
    align-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 10px 10px 0px 0px;">
        <nav class="menu">
            <a href="/nosotros/" title="Nuestra Empresa">Nosotros</a>
            <a href="/catalogo/" title="Cat&aacute;logos de Repuestos">Cat&aacute;logos</a>
            <a href="/precios/" title="Precios Autopartes">Precios</a>
            <a href="../assets/ofertas/CatalogoJuntas.pdf" title="Juntas y O rings"><b>Catalogo<br>Juntas</b></br>
            <a href="/contacto/" title="Contactanos">Contacto</a>
        </nav>
        </div>
    </div>
    <!---------- REDES SOCIALES ENCABEZADO  ------->
    <div class="page-header redes">
        <a class="moblink" href="tel:1160514270"><i class="fab fa-whatsapp fa-2x"></i></a>
        <a href="https://www.instagram.com/altamira_group/" title="Instagram" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="https://www.facebook.com/Altamiragroupsa/" title="Facebook" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
    </div>
    <!-- USUARIOS ----------------------------------------------------------------->
    <div class="page-header usuarios contenedor-total">
        <div class="usuarios contenedor wrap">
            <a href="/ingresar"><%= title_login %></a>
            <img src="/images/icons/catalogo/user-circle-solid.png" alt="">
        </div>
    </div>
    <!------ MENU MOVIL ------->
    <div class="menu-movil">
        <div class="menu-section">
            <div class="menu-toggle">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>
    </div>
    <script src="/js/global.js"></script>
</header>