<!-- FALTA VALIDAR SI ES USUARIO PARA MOSTRAR UNA FOTO U OTRA-->
<div id="openModal" class="modalDialog">
    <div class="popup">
        <a href="#close" title="Close" class="close" onclick="javascript:CloseModal();">Cerrar</a>
        <a href="images/CatalogoJuntas.pdf">
            <img src="images/popup.png" alt="" width="450">
        </a>
    </div>
</div>
