/node_modules
/tests
/utilidades
/public/images/articulos
/public/images/popup.png
/public/images/miniaturas
 public/images/miniaturas/oferta_2.png
/public/assets
/public/images
ecosystem.config.js
.env
/lista_altamira.csv