<!DOCTYPE HTML>
<html>

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main/catalogo/confirmacion.css">
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contenedor">
                        <div class="confirmacion">
                            <h3><%= mensaje %></h3>
                            <a href="/clientes/perfil">Volver al panel</a>
                            <a href="/catalogo">Volver al catalogo</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>