/* ESTE CSS CONTIENE ESTILOS QUE SE VAN A USAR EN TODO EL SITIO 
   MUY IMPORTANTE TENER CUIDADO CON LAS CLASES PORQUE PUEDEN ESTAR REPETIDAS EN OTRAS HOJAS DE ESTILO */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1a1a1a;
    background-image:
        radial-gradient(circle, rgba(255, 255, 255, 0.14) 2px, transparent 2px),
        radial-gradient(circle, rgba(0, 0, 0, 0.25) 2px, transparent 2px);
    background-size: 14px 14px;
    background-position: 0 0, 7px 7px;
}

#zoomModalImg{
    width: 650px;
}

.contenedor {
    min-width: 320px;
    width: 100%;
    max-width: 971px;
    margin: auto;
}

.contenedor-total {
    width: 100%;
     background-color: #1a1a1a;
    background-image:
        radial-gradient(circle, rgba(255, 255, 255, 0.14) 2px, transparent 2px),
        radial-gradient(circle, rgba(0, 0, 0, 0.25) 2px, transparent 2px);
    background-size: 14px 14px;
    background-position: 0 0, 7px 7px;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

:root {
    --rojo: #ed2d32;
    --gristexto: #7c7c7c;
    --grisfondo: #edecec;
}