*{
  box-sizing: border-box;
}
body{
  font-family: 'Open Sans', sans-serif;
}

/********* header *********/
.contenedor_header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 3px var(--grisfondo);
}
.logo {
    padding: 10px;
    width: 30%;
    display: flex;
    justify-content: center;
}
.logo img {
    width: 250px;
}
.titulo_panel{
    padding: 10px;
    text-align: center;
    width: 30%;
    color: #ed2d32;
}
.titulo_usuario{
    width: 30%;
    text-align: right;
    font-weight: 300;
    padding: 10px;
}
.titulo_usuario h2{
    color: #ed2d32;
    font-weight: 300;
    margin: 0px;
    padding: 2%;
}
#nombreuser {
    color: #636363;
}
.titulo_usuario a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--gristexto);
    border: solid 2px;
    padding: 0.3% 1%;
    border-radius: 10px;
}
.titulo_usuario a:hover{
    color: white;
    background: var(--gristexto);
}