<div class="alert">
    <div class="mensaje">
        <span id="closeAlert">cerrar</span>
        <h3>Atención!</h3>
        <p>Tenés artículos pendientes disponibles para agregar a tu pedido</p>
        <a href="pendientes">ver artículos pendientes</a>
    </div>
</div>