<div class="container-fluid header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="logo wrap">
                    <a href="/"><img src="/images/logos/logoaltamira.png" alt=""></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="titulo_panel wrap">
                    <h1>Cat&aacute;logo Digital de Productos</h1>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="carrito wrap">
                    <% if (user.tipo == 'cliente') { %> <%# user viene de res.locals %>
                        <button id="menuButton">menu</button>
                        <%# <p>num de articulos</p> %> 
                        <a href="/catalogo/resume"><img src="/images/icons/catalogo/shopping-cart-solid.png" alt=""></a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid menu hidden">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="menu">
                    <ul>
                        <li>
                            <a href="/clientes/perfil">
                                <div class="image">
                                    <img src="/images/icons/catalogo/user-circle-solid.png" alt="">
                                </div>
                                <h2>Panel de cliente</h2>
                            </a>
                        </li>
                        <li>
                            <a href="/clientes/comprobantes">
                                <div class="image">
                                    <img src="/images/icons/catalogo/file-invoice-solid.png" alt="">
                                </div>
                                <h2>Movimientos de cuenta</h2>
                            </a>
                        </li>
                        <li>
                            <a href="/clientes/pedidos">
                                <div class="image">
                                    <img src="/images/icons/catalogo/box-open-solid.png" alt="">
                                </div>
                                <h2>Resumen de pedidos</h2>
                            </a>
                        </li>
                        <li>
                            <a href="/clientes/pedidos">
                                <div class="image">
                                    <img src="/images/icons/catalogo/truck-solid.png" alt="">
                                </div>
                                <h2>Estado de pedido</h2>
                            </a>
                        </li>
                        <li>
                            <a href="/catalogo/pendientes/">
                                <div class="image">
                                    <img src="/images/icons/catalogo/exclamation-triangle-solid.png" alt="">
                                </div>
                                <h2>Articulos pendientes</h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>