<!DOCTYPE HTML>
<html>

<head>
    <%- include('../partials/head') %>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/main/destacados.css">
    <!--JQUERY ANIMACION ANCLAS-->
    <script type="text/javascript" src="/js/transition_anclas.js"></script>
</head>

<body>
    <%- include('../partials/header') %>
  <!-- Contenido --------------------------------------------------------------->
  <section class="page-section intro contenedor-total wrap">
    <div class="titulo contenedor wrap">
      <h1>Nuestras revistas 2020</h1>
      <svg version="1.2" baseProfile="tiny" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23.167px" height="8.333px" viewBox="0 0 23.167 8.333" xml:space="preserve">
        <path fill="#EC2D34" d="M19.416,1.833c-5.25,0-10.5,0-15.75,0c-3.224,0-3.224,5,0,5c5.25,0,10.5,0,15.75,0 C22.639,6.833,22.639,1.833,19.416,1.833z" />
      </svg>
    </div>
  </section>
  <!-- ESCRIBIR COMUNICACIONES EN ESTA SECCION -->
  <div class="comunicacion contenedor-total wrap">
    <div class="texto contenedor">
      <h3>Señor cliente: a partir de la fecha nuestras revistas publicadas NO mostraran los precios de los articulos,
        puede conocer los precios actualizados todos los dias en nuestra seccion catalogos o haciendo click <a href="/catalogos">aqui</a>
      </h3>
    </div>
  </div> 
  <section class="page-section oferta contenedor-total wrap">
    <div class="revista contenedor wrap">
      <a title="Revista de articulos destacados" href="#anchor"><img src="/images/slider/slider_derecho2.png" alt="Oferta de articulos"></a>
    </div>
    <div class="texto contenedor wrap">
      <div class="titulo">
        <h3>DESTACADOS OCTUBRE - NOVIEMBRE 2020</h3>
      </div>
      <p class="animated  fadeIn">Desde aqu&iacute; podr&aacute; descargar nuestras
        revistas actualizadas de art&iacute;culos en oferta y destacados nacionales e importados.
        <br>
        <br>
        Los precios publicados en las ofertas
        pueden cambiar sin previo aviso por lo
        que recomendamos confirmar el costo de los art&iacute;culos en nuestra lista de precios haciendo
        <a title="Lista de precios" href="/precios">click aqu&iacute;</a>.
        <br>
    </div>
  </section>
  <section class="page-section revistas contenedor-total wrap">
    <p id="anchor"></p>
    <!-- OFERTAS ----------------------------------------------------------------->
  <section class="page-section revistas contenedor-total wrap">
  <div class="ofertas contenedor wrap">
    <div class="cabecera">
      <h2>Haga click en la oferta que desee ver</h2>
    </div>
    <!--<div class="item" style="width:100%; height:0; text-align:center;">
      <a title=" Oferta Mayo 2020" href="../assets/ofertas/Articulos_destacados_Mayo_2020_SP.pdf" target="_blank">
        Oferta Artículos destacados MAYO - JUNIO 2020
      </a> 
    </div>-->
    <div class="item">
      <a title=" Oferta Volkswagen" href="../assets/ofertas/VOLKSWAGEN.pdf" target="_blank">
        <img src="/images/miniaturas/oferta1.png" alt="">
      </a>
    </div>
    <div class="item">
      <a title="Oferta Ford" href="../assets/ofertas/FORD.pdf" target="_blank">
        <img src="/images/miniaturas/oferta2.png" alt="">
      </a>
    </div>
    <div class="item">
      <a title="Oferta Chevrolet" href="../assets/ofertas/CHEVROLET.pdf" target="_blank">
        <img src="/images/miniaturas/oferta3.png" alt="">
      </a>
    </div>
    <div class="item">
      <a title="Oferta Renault" href="../assets/ofertas/RENAULT.pdf" target="_blank">
        <img src="/images/miniaturas/oferta4.png" alt="">
      </a>
    </div>
    <div class="item">
      <a title="Oferta Peugeot" href="../assets/ofertas/PEUGEOT.pdf" target="_blank">
        <img src="/images/miniaturas/oferta5.png" alt="">
      </a>
    </div>
    <div class="item">
      <a title="Oferta Fiat" href="../assets/ofertas/FIAT.pdf" target="_blank">
        <img src="/images/miniaturas/oferta6.png" alt="">
      </a>
    </div>
    <div class="item">
      <a title="Oferta Toyota" href="../assets/ofertas/TOYOTA.pdf" target="_blank">
        <img src="/images/miniaturas/oferta7.png" alt="">
      </a>
    </div>
    <div class="item">
      <a title="Oferta Honda" href="../assets/ofertas/HONDA.pdf" target="_blank">
        <img src="/images/miniaturas/oferta8.png" alt="">
      </a>
    </div>
  </div>
  </div>
</section>
  </section>
  <!-- Contenido --------------------------------------------------------------->
  <%- include('../partials/footer') %>
</body>

</html>