<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main/detalle.css">
    <link rel="stylesheet" href="/css/main/detalleQuery.css">
    <link rel="stylesheet" href="/css/main/sliderCatalogo.css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
</head>
<body>
<!-- HEADER ---------------------------------->
<div class="contenedor-total wrap">
 <!-- HEADER -------------------------------------------------->
        <div class="contenedor_header">
            <div class="logo">
                <img src="/images/logos/logoaltamira.png" alt="">
            </div>
            <div class="titulo_panel">
                <h1>Cat&aacute;logo Digital de Productos</h1>
                <a>Una propuesta original en repuestos alternativos.</a>
            </div>
            <div class="titulo_usuario">
                <a href="../">Volver a la pagina</a>
            </div>
        </div>
    <section class="page-section detalle contenedor wrap">
        <div class="titulo">
            <h1>Detalle de Art&iacute;culo</h1>
        </div>
        <div class="slider contenedor wrap imagenProd">
        <img id="artdisponible" src="/images/icons/disponible.png" alt="">
            <input type="radio" id="sbutton1" name="sradio">
            <label for="sbutton1" style="background:url(/images/articulos/20/2312-0b.jpg); background-size:100% 100%;"></label>
            <ul>
                <li>
                    <div class="imgProdDetalle">
                        <img src="/images/articulos/20/2312-0b.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <div class="contenedor infoProd">
            <h3>Descripci&oacute;n</h3>
            <h1 id="nombreArt">DESCRIPCION</h1>
            <h3>Caracteristicas</h3>
            <p id="caract">CARACT</p>
            <h3>Modelos</h3>
            <p id="modelos">MODELOS</p>
            <h3>C&oacute;digo Original</h3>
            <p id="oem"><b>OEM:</b> OEM</p>
            <h3>C&oacute;digo Altamira</h3>
            <h3 id="codigo"><b></b> CODIGO</h3>
            <div class="contenedor-info wrap">
                <div class="item">
                    <h3 id="precioLista">Precio de lista</h3>
                    <p><b>$PRECIO LISTA</b></p>
                </div>
                <div class="item">
                    <h3>Envasado por:</h3>
                    <p><b>CANT X ENVASE</b></p>
                </div>
            </div>
            <div class="item wrap">
                <div class="destacado">
                    <img id="artDest" src="/images/icons/destacado.png" alt="">
                </div>
            </div>
        </div>
    </section>
</div>
<section class="fondo contenedor-total">
    <div class="page-section footer contenedor wrap">
        <h2 id="tituloFooter">Art&iacute;culos relacionados</h2>
        <div class="artFooter wrap">
            <div class="fotoArt">
                <img id="imgProdFoot" src="/images/articulos/20/2312-0b.jpg" alt="">
            </div>
            <h1 id="nombreArtFoot">DESCRIPCION</h1>
            <p id="modelosFoot">MODELOS</p>
            <p id="oemFoot"><b>OEM:</b> OEM</p>
            <h3 id="codigoFoot"><b></b> CODIGO</h3>
            <h3 id="precioFoot"><span>$PRECIO</span></h3>
            <a id="" class="detLink" rel="" href="../detalle?articulo=ARTICULO">Ver detalle</a>
        </div>
    </div>
</section>
</body>
</html>