<!-- Comprobar sesión iniciada-->
<!DOCTYPE HTML>
<html>

<head>
    <%- include('../partials/head') %>
    <meta name="googlebot" content="noindex">
    <meta name="robots" content="noindex">
    <!-- CSS-->
    <link rel="stylesheet" href="/css/main/recuperar.css">
</head>
<body>
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col">
                    <% if (mensaje == '') { %>
                        <div class="item wrap">
                            <div class="title">
                                <h2>Recuperar contraseña</h2>
                                <p>Ingresá tu cuit sin guiones ni espacios</p>
                            </div>
                            <form action="" class="wrap" method="POST">
                                <label for="cuit">Ingresá tu cuit</label>
                                <input type="text" name="cuit" id="" required minlength="11">
                                <button type="submit">Recuperar</button>
                            </form>
                            <img src="images/logos/logo.png" alt="Altamira Group logo">
                        </div>
                    <% } else { %>
                        <div class="item">
                            <div class="title">
                                <h2>Contraseña enviada</h2>
                                <p><%= mensaje %></p>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</body>
</html>