<!DOCTYPE HTML>
<html>

<head>
    <%- include('../../partials/head') %>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main/catalogo/header.css">
    <link rel="stylesheet" href="/css/main/catalogo/finalizar.css">
    <link rel="stylesheet" href="/css/main/catalogo/finalizarQuery.css">
</head>

<body>
    <section class="contenedor-total wrap">
        <!-- HEADER -------------------------------------------------->
        <%- include('../../partials/catalogo/header') %>
        <!-- PANEL --------------------------------------------------->

</body>

</html>