<!DOCTYPE HTML>
<html>

<head>
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/main/catalogo/header.css">
    <link rel="stylesheet" href="/css/main/catalogo/resumen.css">
    <link rel="stylesheet" href="/css/main/catalogo/resumenQuery.css">
</head>

<body>
    <section class="contenedor-total wrap">
    <!-- HEADER -------------------------------------------------->
    <%- include('../../partials/catalogo/header') %>
    <!-- PANEL --------------------------------------------------->
    
</body>

</html>