/* BUSCADOR -------------------------*/
.panel-section.buscador{
    background: #d6d6d6;
    position: fixed;
    top: calc(0% + 9.6%);
    /*width: calc(100% - 37%);*/
    width: 100%;
    height: auto;
    padding: 5px;
    align-items: center;
}
.panel-section.buscador .item form {
    width: 100%;
}
.panel-section.buscador .item label {
    display: flex;
    width: 80%;
    font-size: 15px;
}

.panel-section.buscador .item input {
    width: 90%;
    border: solid 0px;
    height: 20px;
    border-radius: 5px;
}
.panel-section.buscador .item{
    width: 41%;
    padding: 1%;
}
/* FILTROS */
.panel-section.buscador .filtro {
	position: relative;
	background: white;
	border-radius: 5px;
	height: 40px;
	padding: 1%;
	margin: 1%;
}
.panel-section.buscador .filtro a {
	position: absolute;
	top: -10px;
	right: -10px;
	background: var(--rojo);
	border-radius: 50%;
	width: 20px;
	height: 20px;
    text-align: center;
    text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 14px;
}
/*DESCP*/
.item.descripcion a{
    text-decoration: none;
    color: #4c4c4c;
}
.item.descripcion a:hover{
    color: var(--rojo);
}

/* BODY ------------------------------*/
.panel-section.body{
    width: 100%;
    height: 100%;
    margin-left: 15%;
    margin-right: 22%;
}
.paginacion {
    width: 20%;
    margin: 5px 40%;
    margin-bottom: 3%;
    display: flex;
    justify-content: space-around;
}
.paginacion a {
    width: 100px;
    background: var(--rojo);
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: white;
}
/* PANEL ------------------------------*/
/*settings panel general---------------*/
.panel.lateral.izq{
    width: 15%;
    height: calc(100% - 10%);
    background: #f5f3f3;
    overflow: scroll;
    position: fixed;
    top: calc(0% + 9.6%);
}
.panel-section.acordeon {
    padding: 4% 3%;
    padding-left: 5%;
    color: var(--gristexto);
}
.panel-section.acordeon .item{
    padding: 0px;
}
/*Ocultar el scroll bar*/
.panel.lateral.izq::-webkit-scrollbar {
    display: none;
}
/*color iconos secciones --------------*/
.menu-icon {
	width: 15px;
	height: 15px;
}
/*OPERACIONES------------------------*/
.panel-section.acordeon .operaciones {
    width: 100%;
    justify-content: left;
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1.2px #909090;
    padding: 4% 3%;
}
/*seccion usuario*/
.panel-section.acordeon .usuario {
    color: var(--gristexto);
    text-align: center;
    font-size: 20px;
    border-bottom: solid 1.2px #909090;
    padding-bottom: 12px;
    align-items: center;
}
.item.fecha p{
    width: 100%;
}
/*Filtros NUEVO / DESTACADO*/
.panel-section.acordeon .operaciones.nuevos a,
.panel-section.acordeon .usuario a{
    margin: 5px !important;
}
/*Filtros checkbox--------------------------*/
.panel-section.acordeon .item>input{
    display: none;
}
.panel-section.acordeon #tituloSec {
	width: 100%;
	display: flex;
	background: #d6d6d6;
	border-radius: 5px;
	margin-top: 3%;
	padding: 3px;
}
.list-group-item label {
    display: block;
    width: 100%;
    margin-left: 0px !important;
}
.list-group-item label:hover {
    background: #e6e3e3;
}
.list-group-item input {
    margin-right: 15px !important;
}
.acordeon .contenido {
    height: 0px;
    overflow: hidden;
    margin: 0;
    /* SUAVISAR TRANSICIONES */
    transition: all 0.5s;
    width: 100%;
}
.acordeon input:checked~.contenido {
    height: auto;
    margin: 15px 0;
}
.panel-section.acordeon .usuario a{
    color: gray;
    text-decoration: none;
    font-size: 16px;
}
.panel-section.acordeon .usuario i{
    margin: 5%;
    width: 10%;
}
.panel-section.acordeon .usuario p{
    width: 80%;
    font-size: 16px;
}
.panel-section.acordeon .operaciones .item{
    align-items: center;
    padding: 0px;
}
.panel-section.acordeon .operaciones a{
    text-decoration: none;
    color: var(--gristexto);
    font-size: 15px;
    margin-bottom: 10px;
}
.panel-section.acordeon .operaciones .item h3{
	padding-left: 5px !important;
}
.item .col {
    width: 100%;
    text-align: center;
}
.acordeon .item i{
    margin-right: 7px;
    width: 20px;
    display: flex;
    justify-content: center;
}
.acordeon .list-group-item a:hover,
.acordeon .item .contenido a:hover{
    color:black;
    font-weight: bold;
}
.acordeon .item .contenido a,
.acordeon .list-group-item a,
.item.subrubros a{
    text-decoration: none;
    font-size: 14px;
    margin-left: 8%;
    margin-bottom: 2%;
    width: 100%;
    color: var(--gristexto);
    display: block;
}
/* ARTICULO ---------------------------------------------*/
.panel-section.buscador {
    z-index: 2!important;
}
.panel-section.buscador .item button {
    color: white;
    background: var(--rojo);
    border: none;
    padding: 1%;
    border-radius: 5px;
  }
.contenedor_header{
    z-index: 2!important;
    background: white!important;
}
.page-section.articulos{
    position: absolute;
    top: calc(0% + 20.2%);
    overflow: auto;
    z-index: 0;
}
.page-section.articulos .art {
	width: 20%;
	min-height: 320px;
	justify-content: center;
	padding: 1%;
	position: relative;
	margin: 1.5%;
	border: solid 1px #c5c5c5;
	border-radius: 5px;
	background: white;
}
#imgProd{
    /*width: 90%;
    height: auto;
    width: 150px;
    height: 150px;*/
    width: 100%;
    background-image: url("../../../img/articulos/nofound.jpg");
    background-size: contain;
}
.fotoArt{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    background: url(/images/articulos/nofound.jpg);
    background-size: 100%;
}
.fotoArt img{
    width: 100%;
}
.page-section.articulos .art #artDest{
    position: absolute;
    width: 30%;
    top: 0;
    right: 0px;
}
.page-section.articulos .art #artNac {
    position: absolute;
    width: 30%;
    top: 0;
    left: 0px;
}
.page-section.articulos .art #nombreArt{
    font-size: 15px;
    width: 100%;
    text-align: center;
    font-weight: 800;
    border-bottom: solid 1px gray;
    overflow: auto;
}
/*Ocultar el scroll bar*/
.page-section.articulos .art #nombreArt::-webkit-scrollbar-button {
    display: none;
}
.page-section.articulos .art #modelos{
    width: 100%;
    font-weight: 200;
    font-size: 15px;
    border-bottom: solid 1px gray;
    overflow: auto;
}
.page-section.articulos .art #oem{
   width: 100%;
   font-size: 15px;
   font-weight: 200;
}
.page-section.articulos .art #codigo{
    width: 50%;
    font-size: 15px;
}
.page-section.articulos .art #precio{
    width: 50%;
    color: var(--rojo);
    text-align: right;
}
.art.wrap a{
    text-decoration: none;
    width: 94px;
    border-radius: 5px;
    padding: 3px;
    background: var(--rojo);
    border: solid 2px var(--rojo);
    text-align: center;
    color: white;
    margin: 0 2%;
}
.art.wrap a:hover{
    border: solid 2px var(--rojo);
    background:white;
    color: var(--rojo);
}
/* PAGINACION ---------------*/
.pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
}
.pagination a {
	background: gray;
	padding: 7px;
	border-radius: 5px;
	text-decoration: none;
	color: white;
    margin: 0 1% 3%;
    border:solid 1px white;
    max-width: 90px;
    max-height: 40px;
}
.pagination a:hover{
    background: white;
    color: black;
    border: solid 1px black;
}

/* EXTRA SMALL----------------------------------------------------- */
@media (max-width: 768px) {

    .panel.lateral.izq{
        width: 100%;
        position: inherit;
    }
    .panel-section.acordeon .operaciones{
        padding: 10px;
        justify-content: space-around;
    }
    .panel-section.body{
        margin: 0;
        position: relative;
    }
    .panel-section.buscador{
        position: inherit;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .panel-section.buscador .item{
        width: 100% !important;
    }
    .page-section.articulos{
        position: relative!important;
    }
    .page-section.articulos .art{
        width: 47%;
        min-height: auto;
    }
    .list-group-item {
        display: flex!important;
        flex-wrap: wrap!important;
    }
    .list-group-item label {
        width: 50%!important;
    }
    .panel-section.acordeon .operaciones .item {
      justify-content: center;
    }
    .item.fecha p {
      text-align: center;
    }
    .acordeon input:checked ~ .contenido {
      min-height: 200px !important;
      overflow: scroll;
    }
    .panel-section.acordeon #tituloSec {
      margin: 1% 0;
      padding: 1%;
    }
    .panel-section.buscador .item form {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .panel-section.buscador .item label {
      justify-content: center;
      margin: 2% 0;
    }
    .panel-section.buscador .item button {
      margin: 4% 0 0 0;
    }
    .page-section.articulos .art #nombreArt {
      font-size: 14px;
    }
    .page-section.articulos .art #modelos {
      font-size: 14px;
      text-align: center;
    }
    .page-section.articulos .art #oem {
      text-align: center;
      display: none;
    }
    .art.wrap a {
      margin: 1%;
      font-size: 13px;
      width: 48%;
      padding: 2%;
    }
    .fotoArt {
      width: 100px;
      height: 100px;
    }
}

/* SMALL-----------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 991px) {}

/* MEDIUM---------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {}

/* LARGE----------------------------------------------------------------------------------------*/
@media (min-width: 1201px) {}