.page-section.articulos .art {
  width: 45% !important;
  min-height: 600px !important;
}
.fotoArt {
  width: 400px !important;
  height: 400px !important;
}

/* EXTRA SMALL----------------------------------------------------- */
@media (max-width: 768px) {
  .page-section.articulos .art {
	  width: 100% !important;
	  min-height: 600px !important;
  }
}

/* SMALL-----------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 991px) {}

/* MEDIUM---------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {}

/* LARGE----------------------------------------------------------------------------------------*/
@media (min-width: 1201px) {}