.contenedor_header{
    position: relative !important;
}
.container-fluid {
	background: #e1e1e1;
	width: 100% !important;
	height: auto !important;
	min-height: 700px !important;
}
/* HEADER */
.resume.header {
	width: 100%;
	align-items: center;
	/*height: 60px;*/
    justify-content: space-between;
    padding-top: 1%;
}
.resume.header h2 {
	font-weight: lighter;
}
.resume.header a{
	text-decoration: none;
	color: var(--rojo);
	font-size: 18px;
}
.resume.header p {
	margin: 1% 0;
	background: var(--rojo);
	border-radius: 5px;
	padding: 1%;
	color: white;
}
/* PEDIDO */
.resume.pedido {
	background: white;
	border-radius: 10px;
	height: auto;
	min-height: 500px;
}
.resume.pedido .cabecera {
	width: 100%;
	height: 30px;
	margin-top: 1%;
	padding-top: 4px;
	font-weight: 100;
	font-size: 15px;
	border-bottom: solid 1px #b7b7b7;
}
.resume.pedido .cabecera ul {
	list-style: none;
	display: flex;
	width: 100%;
}
.resume.pedido .cabecera ul li:nth-child(1) {
	width: 14%;
	text-align: right;
	padding-right: 10px;
}
.resume.pedido .cabecera ul li:nth-child(2) {
	width: 37%;
	padding-left: 10px;
}
.resume.pedido .cabecera ul li:nth-child(3){
    width: 10%;
}
.resume.pedido .cabecera ul li:nth-child(4),
.resume.pedido .cabecera ul li:nth-child(5){
    width: 12%;
}
/**/
.resume.pedido .articulos {
	width: 100%;
	align-items: initial;
	padding: 1%;
}
.resume.pedido .articulos .item {
    align-items: center;
	width: 100%;
	border-bottom: solid 1px gray;
}
.resume.pedido .articulos .item h2 {
	font-weight: initial;
	width: 13%;
	text-align: right;
	font-size: 16px;
	padding-right: 10px;
	color: var(--gristexto);
}
.resume.pedido .articulos .item h1 {
	font-size: 16px;
	width: 37%;
	padding-left: 10px;
	font-weight: inherit;
}
.resume.pedido .articulos .item h3 {
	width: 7%;
	text-align: center;
}
.resume.pedido .articulos .item .cantidad h3 {
	font-weight: normal;
}
.resume.pedido .articulos .item p {
    width: 12%;
    text-align: center;
	padding-left: 10px;
}

/* DETALLES */
.resume.detalle {
	padding: 2%;
}
.resume.detalle .articulos {
	width: 100%;
}
.resume.detalle h3 {
	width: 70%;
	font-weight: 300;
    margin-bottom: 3%;
    font-size: 16px;
}
.resume.detalle h4 {
	width: 30%;
    text-align: right;
    font-size: 14px;
}
.resume.detalle .costos h2 {
	font-size: 20px;
	margin: 5% 0;
}
.resume.detalle .costos select {
	border: solid 1px #c4c4c4;
	padding: 1%;
	border-radius: 5px;
	margin: 6% 0;
	width: 100%;
	font-size: 15px;
	text-align: left;
	padding-left: 0;
}
/* OPCIONES */
.resume.detalle .opciones {
	justify-content: space-around;
}
.resume.detalle .opciones a{
    display: flex;
    flex-wrap: wrap;
	width: 100%;
	text-decoration: none;
	color: var(--rojo);
	justify-content: space-evenly;
	text-align: center;
}