.imgProdDetalle {
    width: 450px;
    height: 300px;
    display: flex;
    justify-content: center;
}
.slider{
    width: 450px;
    height: 420px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.slider ul{
    width: 400%;
    height: 300px;
    display: flex;
    list-style: none;
    order: 1;
    transition: all 0.9s;
    background-color: white;
    margin: auto;
    justify-content: center;
    align-content: center;
}
.slider ul li{
    display: flex;
    width: 450px;
    overflow: hidden;
}
.slider ul li:hover > img {
    transform: scale(1.5);
    transition: 1s;
}
.slider li img{
    width: auto;
    height: 100%;
    margin: auto;
}
input[type="radio"]{
    display:none;
}
/*El selector + significa que selecciona al elemento adyacente o hermano*/
input[type="radio"] + label{
    display: block;
    width: 25%;
    height: 115px;
    cursor: pointer;
    order: 2;
}
#sbutton1 + label{
    background-size: 100% 100%;
}
#sbutton2 + label {
    background-size: 100% 100%;
}
#sbutton3 + label {
    background-size: 100% 100%;
}
#sbutton4 + label {
    background-size: 100% 100%;
}

#sbutton1:checked ~ ul {
    margin-left: 0;
}
#sbutton2:checked ~ ul {
    margin-left: -100%;
}
#sbutton3:checked ~ ul {
    margin-left: -200%;
}
#sbutton4:checked ~ ul {
    margin-left: -300%;
}
