
.panel {
  background: #dfdfdf;
  min-height: 750px;
  padding: 0;
}
.sidebar {
  background: #444;
  width: 15%;
  padding: 2%;
}
.sidebar .item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: white;
  margin: 15% 0;
}
.sidebar .item img {
  width: 10%;
  filter: brightness(9);
  margin-right: 4%;
}
.sidebar .item h2 {
  font-size: 18px;
  font-weight: 400;
}
.sidebar .item > h2 a {
	text-decoration: none;
	color: white;
	border: 2px solid white;
	border-radius: 5px;
	padding: 5px;
	padding: 0 100%;
}
.sidebar .item ul {
  list-style: none;
  font-size: 15px;
  margin-top: 5%;
}
.sidebar .item li a {
  text-decoration: none;
  color: #acacac;
  font-weight: 200;
}

.dashboard {
	width: 85%;
}
.row {
	padding: 3%;
	margin: 0;
}

/* EXTRA SMALL----------------------------------------------------- */
@media (max-width: 768px) {

  .header.secciones h1 {
    text-align: center;
    font-size: 18px;
  }

  .header.salir .item p {
    display: none;
  }

  .header.salir .item img {
    width: 20px;
  }

  .sidebar {
    width: 100% !important;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
  }

  .sidebar .item {
    width: 50%;
    margin: 3% 0 !important;
    justify-content: left;
    text-align: left;
  }

  .sidebar .item img {
    width: 18px;
  }

  .item .formulario {
    height: 100px;
    margin-bottom: 6%;
  }

  .dashboard {
    width: 100% !important;
  }
}

/* SMALL-----------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 991px) {}

/* MEDIUM---------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {}

/* LARGE----------------------------------------------------------------------------------------*/
@media (min-width: 1201px) {}
