.dashboard {
	width: 85%;
}
.title {
	width: 100%;
	align-items: center;
}
.title img {
	width: 20px;
	margin-right: 3%;
}
.title h3 {
	font-size: 15px;
	font-weight: 200;
	color: gray;
}
.item div {
  background: white;
  border-radius: 10px;
  padding: 1% 2%;
  width: 100%;
  overflow: hidden;
}
.card {
	border-right: solid 4px var(--rojo);
	margin-bottom: 5%;
	min-height: 125px;
	max-height: 130px;
	overflow: auto !important;
}
.item ul {
  width: 100%;
}
.card ul:nth-child(2) {
	color: var(--rojo);
}
.item .card ul li:nth-child(1) {
  width: 15%;
}
.item .card ul li:nth-child(2) {
  width: 55%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item .card ul li:nth-child(3) {
  width: 30%;
}
li {
  list-style: none;
}
.title {
  padding: 0 !important;
  margin-bottom: 3%;
}
.item form input {
  width: 85%;
  border: solid 1px gray;
  border-radius: 5px;
}
.item form button {
  background: transparent;
  border: none;
  width: 25px;
  height: 25px;
}
button img {
  width: 100%;
}
form {
  justify-content: space-between;
}
.formulario #result_data {
  min-height: 400px;
}
.content .avatar {
	width: 100%;
	height: 140px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.content .avatar img{
  height: 100%;
}
.content .info p {
	width: 50%;
  border: 1px solid #afafaf;
}
.content .info p:nth-last-child(1) {
	width: 100%;  
}
.data span {
  font-weight: 800;
  font-size: 30px;
}
.card .data:nth-child(2) {
  width: 45%;
  align-items: center;
}
.card .data:nth-child(3) {
  width: 55%;
  align-items: center;
}
.item .data p {
  width: 45%;
  font-size: 13px;
  padding: 3%;
}
.item .detalle h3 {
  font-weight: 500;
  color: var(--rojo);
}
.item .detalle:nth-child(2) ul li:nth-child(2) {
  width: 25%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item .detalle:nth-child(2) ul li:nth-child(1) {
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item .detalle:nth-child(2) ul li:nth-child(3) {
  width: 20%;
}
.item .detalle:nth-child(2) ul li:nth-child(4) {
  width: 15%;
}
.item .detalle li img,
form img {
  width: 25px;
  cursor: pointer;
}
.item .detalle {
	margin: 5% 0;
	min-height: 150px;
	max-height: 150px;
	overflow: auto;
}
.item .detalle:nth-child(3) ul li:nth-child(1) {
  width: 30%;
}
.item .detalle:nth-child(3) ul li:nth-child(2) {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item .detalle:nth-child(4) ul li:nth-child(1) {
  width: 25%;
}
.item .detalle:nth-child(4) ul li:nth-child(2) {
  width: 60%;
}
.item .detalle:nth-child(4) ul li:nth-child(3) {
  width: 15%;
  text-align: center;
}
#busqueda_comp {
	width: 60%;
}
.item select {
  border-radius: 5px;
  border: solid 1px rgb(189, 189, 189);
}
.item form {
	background: white;
	border-radius: 10px 10px 0 0;
	padding: 3%;
}
.item form ~ div {
	border-radius: 0 0 10px 10px;
	max-height: 540px;
	overflow: auto;
}
#result_data_comp ul {
	justify-content: space-between;
}
#result_data_comp ul li {
	width: 31%;
}
/* SPINNER */
.preload {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
.preload img {
  width: 10%;
}

/* EXTRA SMALL----------------------------------------------------- */
@media (max-width: 768px) {
  
  .dashboard .item {
    display: flex;
    flex-wrap: wrap;
  }
  .total_pedidos {
    order : 3;
  }

  #busqueda_comp {
    width: 50%;
  }
}

/* SMALL-----------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 991px) {}

/* MEDIUM---------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {}

/* LARGE----------------------------------------------------------------------------------------*/
@media (min-width: 1201px) {}