body {
  background: #dadada;
}
.container-fluid.clientes {
    background: #f2f2f2;
}
.container-fluid.clientes .titulo {
	margin: 10% 0 5%;
}
.container-fluid.clientes .titulo h1 {
	font-size: 22px;
	font-weight: 300;
}
.container-fluid.clientes .buscador form {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 10% 0 5%;
	width: 100%;
	justify-content: right;
}
.container-fluid.clientes .buscador form label {
	font-size: 22px;
	font-weight: 300;
	margin-right: 4%;
}
.container-fluid.clientes .buscador form input {
	width: 45%;
	border: solid 1px white;
	border-radius: 12px 0 0 12px;
	height: 30px;
}
.container-fluid.clientes .buscador form button{
	border: solid 0px white;
	background: white;
	border-radius: 0 12px 12px 0;
	height: 30px;
	padding: 1%;
}
.container-fluid.clientes .buscador form button img {
	width: 20px;
}
.container-fluid.clientes .clientes {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 600px;
	overflow: scroll;
	align-content: baseline;
}
.container-fluid.clientes .clientes .item {
	background: white;
	display: flex;
	flex-wrap: wrap;
	padding: 2%;
	width: 100%;
	height: auto;
	border-radius: 10px;
	margin: 5px 0px;
}
.container-fluid.clientes .clientes .item h3 {
	width: 100%;
	border-bottom: solid 1px gray;
	margin-bottom: 1%;
}
.container-fluid.clientes .clientes .item .datos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.container-fluid.clientes .clientes .item .titulos {
	width: 100%;
	justify-content: space-between;
	border-bottom: solid 1px gray;
	padding-bottom: 6px;
	margin-bottom: 3px;
}
.container-fluid.clientes .clientes .item .titulos h4 {
	width: 14%;
	font-size: 15px;
	font-weight: 500;
	text-align: center;
}
.container-fluid.clientes .clientes .item .datos {
	width: 100%;
	justify-content: space-between;
}
.container-fluid.clientes .clientes .item .datos p {
	width: 14%;
	color: #2c2c2c;
	font-size: 15px;
	text-align: center;
	overflow: hidden;
	border-right: solid 1px;
	margin: 4px 0;
}
.container-fluid.clientes .clientes .item .datos p:nth-child(7){
	border: none
}
.container-fluid.clientes .clientes .item .datos span {
	color: black;
	margin-right: 3%;
}