
.titulo h3 {
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 2%;
  }
  .titulo {
    margin: 2% 0;
  }
  .pagos {
    background: #f2f2f2;
    min-height: 570px;
  }
  .cabecera h2 {
    font-size: 17px;
    font-weight: 400;
    width: 15%;
    text-align: center;
  }
  .cabecera h2:nth-child(6){
      width: 25%;
  }
  .cabecera {
    justify-content: center;
    margin: 2% 0;
  }
  .titulo p {
    margin-bottom: 5%;
    width: 50%;
  }
  .formulario form {
    justify-content: center;
  }
  .formulario form * {
    position: relative;
  }
  .formulario form *::before{
      position: absolute;
      top: -100%;
  }
  .formulario form select:nth-child(1) {
    border-radius: 10px 0 0 10px;
    border: none;
    width: 15%;
    text-align: center;
  }
  .formulario form select:nth-child(1)::before {
    content: 'N° Factura';

  }
  .formulario form input:nth-child(2) {
    border: none;
    width: 15%;
    text-align: center;
  }
  .formulario form select:nth-child(3) {
    width: 15%;
    border: none;
    text-align: center;
  }
  .formulario form input:nth-child(4) {
    width: 15%;
    border: none;
    text-align: center;
  }
  .formulario form textarea {
    width: 15%;
    border: none;
    text-align: center;
  }
  .formulario form input:nth-child(6) {
    width: 25%;
    background: white;
    text-align: center;
    border: none;
    border-radius: 0 10px 10px 0;
  }
  .formulario form button {
    width: 15%;
    margin: 2% 0;
    background: red;
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: none;
  }
  #volver {
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--gristexto);
    border: solid 2px;
    padding: 0.3% 1%;
    border-radius: 10px;
  }
/* EXTRA SMALL */
@media (max-width: 768px) {

}
/* SMALL */
@media (min-width: 769px) and (max-width: 991px) {}

/* MEDIUM */
@media (min-width: 992px) and (max-width: 1200px) {}

/* LARGE */
@media (min-width: 1201px) {}