
body {
  background: #f2f2f2;
}
.pedidos > div:nth-child(1),
.pedidos-web > div:nth-child(1) {
  margin: 2% 0;
}
.pedidos .titulo h1,
.pedidos-web .titulo h1 {
  font-size: 22px;
  font-weight: 300;
}
.pedidos .table,
.pedidos-web .table {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background: white;
  border-radius: 10px;
  padding: 1%;
  min-height: 200px;
}
.pedidos-web .table {
	margin-bottom: 5%;
	overflow: auto;
}
.pedidos .table .titles,
.pedidos-web .table .titles {
  width: 100%;
  height: 30px;
}
.pedidos-web > div:nth-child(2) > div:nth-child(1) > ul:nth-child(1) {
 height: 30px;
}

.titles li {
  width: 100px;
  text-align: center;
}
.content .item li {
	width: 100px;
	text-align: center;
}
.pedidos .table .titles ul,
.pedidos-web .table .titles ul,
.pedidos .table .content .item ul,
.pedidos-web .table .content .item ul{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  height: auto;
}
.pedidos .table .titles ul,
.pedidos-web .table .titles ul{
    border-bottom: solid 1px gray;
}
.pedidos .table .content,
.pedidos-web .table .content {
  width: 100%;
  height: 100%;
  min-height: 141px;
}
.pedidos .table .content .item,
.pedidos-web .table .content .item{
  width: 100%;
  height: 25px;
}

.detalle-icon {
  width: 27px;
}
#detallePedidoWeb {
  cursor : pointer;
}
#volver {
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  color: var(--gristexto);
  border: solid 2px;
  padding: 0.3% 1%;
  border-radius: 10px;
}
/* MODAL */
.modal {
  transition: 05s all;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #00000030;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.pedido-detalle {
	position: relative;
	width: 500px;
	background: white;
	padding: 2%;
	border-radius: 10px;
}
.pedido-detalle ul:nth-child(5) {
  margin-top: 3%;
	font-weight: bold;
}
.pedido-detalle ul {
	display: flex;
	flex-wrap: wrap;
}
.pedido-detalle li {
	list-style: none;
	text-align: center;
}
.pedido-detalle ul li:nth-child(1) {
	width: 15%;
}
.pedido-detalle ul li:nth-child(2) {
	width: 50%;
}
.pedido-detalle ul li:nth-child(3) {
	width: 10%;
}
.pedido-detalle ul li:nth-child(4) {
	width: 25%;
}

#cerrar {
	position: absolute;
	right: 5%;
	top: 3%;
	background: #ee2b2b;
	border: solid 1px red;
	padding: 1%;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

@media(max-width: 768px) {
  .pedidos .table .titles, .pedidos-web .table .titles {
    display: none;
  }
  .pedidos .table .content .item, .pedidos-web .table .content .item {
    height: auto;
    border-bottom: 1px solid gray;
  }
  .pedidos .table .content .item ul, .pedidos-web .table .content .item ul {
    display: flex;
    align-items: center;
  }
  .pedidos-web .titles ul {
    height: auto !important;
  }
  .content .item li {
    width: 50%;
    text-align: left;
  }
   .content .item li:nth-child(1)::before {
    content: 'Pedido N°: ';
    color: red;
  }
   .content .item li:nth-child(2)::before {
    content: 'Fecha: ';
    color: red;
  }
  .pedidos .content .item li:nth-child(3)::before {
    content: 'Factura: ';
    color: red;
  }
  .pedidos .content .item li:nth-child(4)::before {
    content: 'Fecha: ';
    color: red;
  }
  .pedidos .content .item li:nth-child(5)::before {
    content: 'Estado: ';
    color: red;
  }
  .pedidos .content .item li:nth-child(6)::before {
    content: 'Salida: ';
    color: red;
  }
  .pedidos .content .item li:nth-child(7) {
    width: 100%;
  }
  .pedidos .content .item li:nth-child(7)::before {
    content: 'Transp: ';
    color: red;
  }
  .pedidos .content .item li:nth-child(8) {
    display: none;
  }
  /* Pedidos web */
  .pedidos-web .content .item li:nth-child(3)::before {
    content: 'Articulos: ';
    color: red;
  }
  .pedidos-web .content .item li:nth-child(4)::before {
    content: 'Estado: ';
    color: red;
  }
  .pedidos-web .content .item li:nth-child(5){
    display: none;
  }
}

/* SMALL */
@media (min-width: 769px) and (max-width: 991px) {}

/* MEDIUM */
@media (min-width: 992px) and (max-width: 1200px) {}

/* LARGE */
@media (min-width: 1201px) {}