<section class="section header-admin contenedor-total wrap">
    <div class="header logo wrap">
        <img src="/images/logos/altamira.png" alt="">
    </div>
    <div class="header secciones wrap">
        <h1>Panel de administración</h1>
    </div>
    <div class="header salir wrap">
        <a href="/logout">
            <div class="item wrap">
                <p>Salir</p>
                <img src="/images/icons/admin/logout.png" alt="">
            </div>
        </a>
    </div>
</section>