<section class="section header-admin contenedor-total wrap">
    <div class="header logo wrap">
        <img src="/images/logos/altamira.png" alt="">
    </div>
    <div class="header secciones wrap">
        <div class="item" id="itemMenu">
            <img src="/images/icons/admin/clientes.png" alt="">
            <ul>
                <lh><a onclick="dropdownCte()" class="dropbtn">Clientes</a></lh>
                <div id="contentCte" class="contenido wrap">
                    <li><a href="seguimiento/">Estado de pedido</a></li>
                    <li><a href="cuenta_corriente/">Estado de cuenta</a>
                    </li>
                    <li><a href="">Datos de cliente</a></li>
                    <li><a href="registro/cliente/">Registrar usuario</a>
                    </li>
                </div>
            </ul>
        </div>
        <div class="item">
            <img src="/images/icons/admin/viajantes.png" alt="">
            <a onclick="dropdownVte()" class="dropbtn">Viajantes</a>
            <div id="contentVte" class="contenido wrap">
                <a href="cobranzas/">Cobranzas</a>
                <a href="">Lista de clientes</a>
                <a href="">Datos de viajantes</a>
                <a href="">Registrar viajante</a>
            </div>
        </div>
        <div class="item">
            <img src="/images/icons/admin/pedidos.png" alt="">
            <a onclick="dropdownVte()" class="dropbtn">Pedidos</a>
            <div id="contentVte" class="contenido wrap">
                <a href="">Cobranzas</a>
                <a href="">Lista de clientes</a>
                <a href="">Datos de viajantes</a>
                <a href="">Registrar viajante</a>
            </div>
        </div>
        <div class="item">
            <img src="/images/icons/admin/facturas.png" alt="">
            <a onclick="dropdownVte()" class="dropbtn">Facturas</a>
            <div id="contentVte" class="contenido wrap">
                <a href="">Cobranzas</a>
                <a href="">Lista de clientes</a>
                <a href="">Datos de viajantes</a>
                <a href="">Registrar viajante</a>
            </div>
        </div>
    </div>
    <div class="header salir wrap">
        <a href="/logout">
            <div class="item wrap">
                <p>Salir</p>
                <img src="/images/icons/admin/logout.png" alt="">
            </div>
        </a>
    </div>
</section>