<section class="section header-admin contenedor-total wrap">
    <div class="header logo wrap">
        <img src="/images/logos/altamira.png" alt="">
    </div>
    <div class="header secciones wrap">
        <div class="item" id="itemMenu">
            <a href=""><img src="/images/icons/admin/clientes.png" alt="">Clientes</a>
        </div>
        <div class="item">
            <a href=""><img src="/images/icons/admin/viajantes.png" alt="">Viajantes</a>
        </div>
        <div class="item">
            <a href=""><img src="/images/icons/admin/pedidos.png" alt="">Pedidos</a>
        </div>
        <div class="item">
            <a href=""><img src="/images/icons/admin/facturas.png" alt="">Facturas</a>
        </div>
    </div>
    <div class="header salir wrap">
        <a href="/logout">
            <div class="item wrap">
                <p>Salir</p>
                <img src="/images/icons/admin/logout.png" alt="">
            </div>
        </a>
    </div>
</section>