/* EXTRA SMALL----------------------------------------------------- */
@media (max-width: 768px) {
    .titulo_panel{
        width: 100%;
    }
    .contenedor_header{
        position: inherit;
    }
    .contenedor_header .logo{
        width: 100%;
    }
    .contenedor_header .titulo_usuario{
        width: 100%;
        text-align: center;
    }
    .panel.lateral.izq{
        width: 100%;
        position: inherit;
    }
    .panel-section.acordeon .operaciones{
        padding: 10px;
        justify-content: space-around;
    }
    .panel-section.body{
        margin: 0;
        position: relative;
    }
    .panel-section.buscador{
        position: inherit;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .panel-section.buscador .item{
        width: 100% !important;
    }
    .page-section.articulos{
        position: relative!important;
    }
    .page-section.articulos .art{
        width: 50%;
    }
    .list-group-item {
        display: flex!important;
        flex-wrap: wrap!important;
    }
    .list-group-item label {
        width: 50%!important;
    }
}

/* SMALL-----------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 991px) {}

/* MEDIUM---------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {}

/* LARGE----------------------------------------------------------------------------------------*/
@media (min-width: 1201px) {}