/* INTRO */
.page-section.intro,
.page-section.oferta {
    background: var(--grisfondo) url(/images/fondos/revistas-header.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    position: relative;
}
.page-section.intro .contenedor{
    padding-top: 15%;
    padding-bottom: 9%;
}
.page-section.intro .titulo h1{
    width: 100%;
    text-align: center;
    color: var(--gristexto);
    font-weight: 300;
    font-size: 2.9rem;
}
.page-section.intro svg{
    width: 100%;
}
/* COMUNICACION */
.comunicacion{
    background: var(--grisfondo);
}
.comunicacion .texto{
    background: white;
    padding: 3%;
    border-radius: 16px;
    -webkit-box-shadow: -1px 3px 29px -10px rgba(0,0,0,0.51);
    -moz-box-shadow: -1px 3px 29px -10px rgba(0,0,0,0.51);
    box-shadow: -1px 3px 29px -10px rgba(0,0,0,0.51);
    margin: auto;
    margin-bottom: 5%;
    text-align: justify;
}
/* OFERTA INFO */
.page-section.oferta {
    background: var(--grisfondo) url(/images/fondos/revistas.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: bottom;
}
.page-section.oferta::before{
    content: "";
    background: var(--grisfondo);
}
.page-section.oferta .revista{
    width: 50%;
    justify-content: center;
    padding-bottom: 5%;
}
.page-section.oferta .revista h3{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
    font-size: 26px;
    font-weight: 700;
    color: var(--rojo);
}
.page-section.oferta .revista a{
    width: auto;
    margin: auto;
}
.page-section.oferta .revista img{
    width: 80%;
    border-radius: 10px;
    margin: 0 10%;
}
.page-section.oferta .texto{
    width: 50%;
    padding: 0 10% 0% 10%;
    margin-top: 0;
}
.page-section.oferta .titulo{
    width: 100%;
    padding: 0% 5%;
    color: var(--rojo);
}
.page-section.oferta .titulo h3{
    font-weight: 700;
    font-size: 40px;
    text-align: right;
}
.page-section.oferta .texto p{
    padding: 5%;
    text-align: justify;
    color: var(--gristexto);
}

/* REVISTAS */
.page-section.revistas .ofertas{
    justify-content: center;
    /**/
    -webkit-perspective: 800;
    perspective: 800;
}
.revistas .ofertas .cabecera{
    width: 100%;
}
.revistas .ofertas .cabecera h2{
    text-align: center;
    font-weight: 400;
    color: var(--rojo);
    margin: 5%;
}
.revistas .ofertas .item{
    width: 194px;
    height: 310px;
    margin: 2%;
}
.ofertas .item img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* EXTRA SMALL----------------------------------------------------- */
@media (max-width: 768px) {
    .page-section.intro {
        padding: 5%;
    }
    .page-section.oferta .texto{
        padding: 0% 5%;
    }
    .page-section.oferta .titulo h3{
        text-align: center;
    }
    .page-section.oferta .texto p{
        margin-bottom: 44%;
    }
    .page-section.revistas .ofertas{
        width: 100%;
    }
    .revistas .ofertas .item{
        width: 44%;
        height: 250px;
    }
}

/* SMALL-----------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 991px) {

}

/* MEDIUM---------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {

}

/* LARGE----------------------------------------------------------------------------------------*/
@media (min-width: 1201px) {
    
}