/* EXTRA SMALL----------------------------------------------------- */
@media (max-width: 768px) {
    .page-section.intro {
        padding: 5%;
    }
    .page-section.oferta .texto{
        padding: 0% 5%;
    }
    .page-section.oferta .titulo h3{
        text-align: center;
    }
    .page-section.oferta .texto p{
        margin-bottom: 44%;
    }
    .page-section.revistas .ofertas{
        width: 100%;
    }
    .revistas .ofertas .item{
        width: 44%;
        height: 250px;
    }
}

/* SMALL-----------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 991px) {

}

/* MEDIUM---------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {

}

/* LARGE----------------------------------------------------------------------------------------*/
@media (min-width: 1201px) {
    
}