/* EXTRA SMALL----------------------------------------------------- */
@media (max-width: 768px) {
    .titulo_panel {
        width: 100%;
    }
    .contenedor_header {
        position: inherit;
    }

    .contenedor_header .logo {
        width: 100%;
    }

    .contenedor_header .titulo_usuario {
        width: 100%;
        text-align: center;
    }

    .panel-section.body {
        margin: 0;
        position: relative;
    }
    .contenedor.infoProd{
        width: 100%;
        padding: 5%;
    }
    #nombreArt{
        width: 100%;
        font-size: 16px;
    }
    #modelos{
        font-size: 17px;
    }
    #oem{
        font-size: 17px;
    }
    .page-section.footer {
        padding: 4%;
    }
    .artFooter.wrap{
        width: 48%;
        padding: 2%;
    }
    #oemFoot{
        display: none;
    }
}   

/* SMALL-----------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 991px) {}

/* MEDIUM---------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {}

/* LARGE----------------------------------------------------------------------------------------*/
@media (min-width: 1201px) {}