.banner {
  background-image: url('/images/slider/banner.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  min-height: 600px;
  padding-top: 10%;
  overflow: hidden;
}
.banner .info h1 {
	font-size: 48px;
	width: 65%;
	font-weight: bold;
	color: red;
	background: white;
	border-radius: 60px;
	padding: 1%;
	margin: 2% 0;
}
.banner .info h1:nth-child(2) {
	width: 45%;
}
.banner .info h3 {
	font-size: 30px;	
	width: 60%;
	color: red;
	margin: 6% 0;
  	background: white;
	border-radius: 30px;
	padding: 1%;
}
.banner .info a {
	background: #c50402;
  font-family: Designer;
	padding: 1%;
      position: absolute;
    width: 35%;
    left: 50%;
	color: white;
	text-decoration: none;
	border-radius: 5px;
	-webkit-box-shadow: 1px 3px 17px 6px rgba(255,0,0,0.5);
	-moz-box-shadow: 1px 3px 17px 6px rgba(255,0,0,0.5);
	box-shadow: 1px 3px 17px 6px rgba(255,0,0,0.5);
  border: solid 4px #c50402;
  transition: 0.3s all;
}
.banner .info a:hover {
	background: #f4f4f4;
	color: red;
	-webkit-box-shadow: 1px 3px 17px 6px rgba(255,255,255,0.5);
	-moz-box-shadow: 1px 3px 17px 6px rgba(255,255,255,0.5);
	box-shadow: 1px 3px 17px 6px rgb(255, 255, 255);
	border: solid 4px #fff;
}
.banner .items img {
  position: absolute;
  width: 100%;
  left: 60%;
}
.banner .items::after {
	/*content: url('/images/slider/art.png');*/
	position: relative;
	right: 29%;
	top: 10%;
}
.banner .items {
	width: 100%;
}
.banner .items::before {
	/*content: url('/images/slider/filtros.png');*/
	position: relative;
	right: -12%;
}
.banner .items span {
  width: 25%;
  position: relative;
}
.banner .items span::before {
	content: url("http://localhost:3000/images/slider/cart.png");
	position: relative;
	right: -250%;
	top: -3%;
}
/*SEPARADOR------------------------------------------*/
.main.separador {
  background: #f2f1f1;
  width: 100%;
  height: 147px;
}
/*SECCIONES-----------------------------------------*/

.main-section.subpaginas .contenedor {
  justify-content: space-around;
  /*margin-top: 10%;*/
  margin-bottom: 10%;
  text-align: center;
}
.main-section.subpaginas .item {
  background-color: white;
  /*SUBIR ITEM*/
  position: relative;
  top: -86px;
  border-radius: 10px;
  width: 223px;
}
.main-section.subpaginas .item h2{
  font-weight: 600;
  color:#505050;
}
/* EFECTOS HOVER */
  /* creamos la animación y le asignamos 
un nombre
*/
  @keyframes flotar {
    0% { top: -10px; }
    25% { top: 10px; }
    75% { top: -10px; }
    100% { top: 10px; }
  }
.main-section.subpaginas .item img:hover{
  position: relative;
  filter: hue-rotate(203deg);
  /* Declaramos la animación utilizando
animation: nombre de la animación
y le asignamos la duración
*/
  animation: flotar 3s infinite;
  /* alternate: la animación una vez que 
finaliza, se reproduce a la inversa (1-2-3-2-1)*/
  animation-direction: alternate;
  
}
/*ARTICULOS------------------------------*/
.main-section.catalogo .contenedor{
  overflow: hidden;
  padding: 1%;
}
.main-section.catalogo .titulo{
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-section.catalogo .titulo h3{
  margin-bottom: 4%;
  font-size: 27px;
  font-weight: 400;
  color: var(--gristexto);
}
.carrousel{
  display: flex;
  width: 100%;
  position: relative;
  animation: carrouselProd 30s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}
@keyframes carrouselProd {
    0% { left: 0%; }
    20% { left: 0%; }

    25% { left: -100% }
    40% { left: -100% }

    45% { left: -200% }
    50% { left: -200% }
    
    55% { left: -300% }
    60% { left: -300% }
    
    65% { left: -400% }
    80% { left: -400% }
    
    85% { left: -500% }
    100% { left: -500% }
}
.art.wrap {
  width: 25%;
  justify-content: center;
  padding: 3%;
  position: relative;
  border: solid 1px #c5c5c5;
  margin: 0 1%;
  border-radius: 5px;
  background: var(--grisfondo);
}
.fotoArt {
  width: 150px;
  height: 150px;
}
#imgProd {
  width: 100%;
}
#nombreArt {
  font-size: 15px;
}
#modelos {
  font-size: 15px;
  overflow: auto;
}
#oem {
  font-size: 15px;
  width: 100%;
  overflow: auto;
}
#codigo {
  width: 50%;
  text-align: left;
}
#precio {
  width: 50%;
  text-align: right;
}
.main-section.catalogo .art a{
  text-decoration: none;
  width: 94px;
  border-radius: 5px;
  padding: 3px;
  background: var(--rojo);
  border: solid 2px var(--rojo);
  text-align: center;
  color: white;
  margin: 3%;
}
#artDest {
  position: absolute;
  width: 30%;
  top: 0;
  right: 0px;
}
/* SER CLIENTE ------------------------------------*/
.main-section.ser_cliente {
  text-align: center;
  padding: 10% 0%;
  padding-top: 5%;
  background: url(/images/fondos/main-clientes.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}
.ser_cliente h3{
  font-weight: 400;
  color: #fff;/*var(--gristexto)*/
}
.ser_cliente .boton{
  width: 179px;
  display: flex;
  justify-content: center;
  padding: 12px;
  border: solid 1px var(--rojo);
  border-radius: 10px;
  color: #fff;
  margin: auto;
  margin-top: 4%;
}
.boton:hover {
  background: linear-gradient(to right, #FF5722, #ed2d32);
  border: none !important;
  color: white;
}
.ser_cliente a{
  text-decoration: none;
}
/*CONTACTO-----------------------------------------*/
.content-form {
    width: 75%;
}

.main-section.contacto {
    background-color: #f2f1f1;
}

.contacto .contenedor {
    padding: 5% 5% 5% 5%;
}

.contacto .contenedor .header {
    display: block;
    width: 100%;
}

.contacto .header h2 {
    font-weight: 400;
}

.contacto .header :nth-child(1) {
    margin-bottom: 3%;
}

.contacto .header :nth-child(2) {
    margin-bottom: 3%;
}

.contacto .contenedor .form {
    display: flex;
    flex-wrap: wrap;
}

/* FORMULARIO---------------------------------*/
.form-col {
    width: 50%;
}

.form-col.izq {
    justify-content: space-between;
    font-weight: 600;
}

.form-col.izq label {
    margin: 5px;
}

.form-col.izq input {
    width: 67%;
    height: 19px;
    border-radius: 13px;
    border: solid 0.5px #cccccc;
    padding: 1px;
    margin-right: 25%;
    /*float: right;*/
    margin: 5px;
}

.form-col.der {
    width: 48%;
    margin-left: 2%;
}

.form-col.der label {
    width: 100%;
    display: block;
}

.form-col.der textarea {
    height: 100px;
    border-radius: 16px;
    border: solid 0.5px #cccccc;
    padding: 3px;
    width: 70%;
}

#boton {
    margin-top: 2%;
    background: var(--rojo);
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
    border: solid 1px transparent;
    cursor: pointer;
}

/*TELEFONOS------------------------------------------*/
.content-telf {
    width: 25%;
}

.info-contacto {
    justify-content: left;
    text-align: left;
}

.info-contacto .item {
    margin: 3px 0px;
}

.info-contacto .item h4 {
    font-weight: 800;
    color: var(--rojo);
    font-size: 20px;
}

.info-contacto .item p {
    font-size: 15px;
    font-weight: 600;
}



/* EXTRA SMALL----------------------------------------------------- */
@media (max-width: 768px) {
  /* MENU DESPLEGABLE */
    .menu {
      display: none;
    }
    .header {
      height: 70px;
    }
    .logo img {
      width: 80%;
      margin: 0px 0px;
    }
    /* USUARIOS */
    .page-header.redes{
      display: none;
    }
    /* BANNERS */
    .main-section.header .contenedor{
      width: 100%
    }
    .main-section.header::before{
      content: none;
    }
    #infoHeader{
      position: initial;
      width: 100%;
      padding: 5%;
    }
    #infoHeader h1{
      margin-right: auto;
      text-align: initial;
      font-size: 36px;
    }
    #revistaFoto{
      position: initial;
      width: 100%;
      margin-left: -14%;
    }
    #revistaFoto img{
      position: relative;
      width: 442px;
      top: 0px;
      left: -47px;
    }
    /*  SLIDER  */
    .slider .text h1{
    text-align: center;
    font-size: 35px;
    border-bottom: solid 1px var(--rojo);
    }
    .slider .text h3{
        text-align: center;
        width: 100%;
        font-size: 24px;
        padding: 0% 5%;
    }
    .slider .text svg{
        float: inherit;
        justify-content: center;
        margin: auto;
    }
    #botonHeader .boton{
        margin: auto;
        margin-top: 10%;
    }
    /* <br> de fuera de catalogo*/
    .slider .text.destacados br{
        display: none;
    }
    /* SEPARADOR */
    .main.separador {
      display: none;
    }
    /* SECCIONES */
    .main-section.subpaginas .item {
      top: 10px;
      width: 155px;
    }
    /* SER CLIENTE */
    .main-section.ser_cliente {
      margin: 35% 0%;
    }
    /* CONTACTO */
    .contacto .header:nth-child(1) {
      text-align: center;
    }
    .contacto .header:nth-child(2){
      margin-left: calc(50% - 12px);
    }
    .header.contacto{
      display: flex;
      flex-wrap: wrap;
    }
    .header.contacto h2{
      text-align: center;
      width: 100%;
    }
    .header.contacto svg{
      margin: auto;
    }
    .content-form,
    .form-col.izq,
    .form-col.der,
    .content-telf,
    .info-contacto .item {
      width: 100%;
      text-align: center;
    }
    .form form{
      justify-content: center;
      text-align: center;
    }
    .form-col.izq label,
    .form-col.izq input{
      width: 100%;
    }
    .form-col.der textarea{
      width: 100%;
      margin-top: 5%;
    }
    #boton{
      margin-bottom: 15%;
    }
    /*FOOTER*/
    .main-section.footer {
        overflow: hidden;
        width: 100%;
        height: auto;
        display: none;
    }

    .main-section.footer .contenedor .item {
        width: 100%;
    }

    .footer .item h3 {
        background: #b50606;
        margin-bottom: initial;
    }
    /* BANNER */
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: absolute;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
    
.banner .items::before {
  display: none;
}
.banner .items::after {
  display: none;
}
.banner .items span {
  display: none;
}
.banner .info h1 {
  font-size: 32px;
  width: 80%;
  padding-left: 3%;
}
.banner .info h3 {
  width: 100%;
}
.banner {
  background: yellow;
  background: rgb(255,124,1);
  background: linear-gradient(357deg, rgba(255,124,1,1) 0%, rgba(249,255,0,1) 100%);
}
.banner .items img {
  width: 80%;
  left: 0%;
  /*right: 0;
  bottom: -11%;*/
}
.banner .items {
  width: 100%;
  min-height: 250px;
}
.banner .info a {
  display: inherit;
  text-align: center;
  box-shadow: none;
}
}
/* SMALL-----------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 991px) {
  /* MENU DESPLEGABLE */
  .menu-movil {
    display: none;
  }
}

/* MEDIUM---------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {
  /* MENU DESPLEGABLE */
  .menu-movil {
    display: none;
  }
}

/* LARGE----------------------------------------------------------------------------------------*/
@media (min-width: 1201px) {
  /* MENU DESPLEGABLE */
  .menu-movil {
    display: none;
  }
}