@import url('./base/variables.css');
@import url('./animations/animations.css');
@import url('./layouts/banner.css');
* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'NexaRust';
  src:
    url('/css/fonts/NexaRustSans-Trial-Black2.woff2') format('woff2'),
    url('/css/fonts/NexaRustSans-Trial-Black2.woff') format('woff'),
    url('/css/fonts/NexaRustSans-Trial-Black2.ttf') format('truetype');
}

@font-face {
  font-family: 'Designer';
  src:
    url('/css/fonts/Designer.woff2') format('woff2');
}

.btn-destacados {
  font-family: 'Designer';
  background: linear-gradient(180deg,
      var(--rojo-hover) 0%,
      var(--rojo) 100%);
  padding: 10px 18px;
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50px;
  border: 2px solid #ffffff;
  letter-spacing: 1px;
  box-shadow:
    0 0 12px rgba(255, 0, 0, 0.55),
    0 4px 12px rgba(0, 0, 0, 0.45);

  transition: var(--transition);

  animation: pulseDestacados 2.5s infinite;
}

.btn-destacados:hover {
  background: #ffffff;
  color: #c50402;

  transform: scale(1.06);

  box-shadow:
    0 0 18px rgba(255, 255, 255, .8),
    0 4px 16px rgba(0, 0, 0, .5);
}

/*SEPARADOR------------------------------------------*/
.main.separador {
  background: var(--gris-fondo);
  width: 100%;
  height: 147px;
}

/*SECCIONES-----------------------------------------*/

.main-section.subpaginas .contenedor {
  justify-content: space-around;
  margin-top: 10%;
  /*margin-bottom: 10%;*/
  text-align: center;
}

.main-section.subpaginas .item {
  background-color: white;
  /*SUBIR ITEM*/
  position: relative;
  top: -86px;
  border-radius: var(--radius);
  width: 223px;
}

.main-section.subpaginas .item h2 {
  font-weight: 600;
  color: #e52e2e;
}

.main-section.subpaginas .item img:hover {
  position: relative;
  filter: hue-rotate(203deg);
  /* Declaramos la animación utilizando
animation: nombre de la animación
y le asignamos la duración
*/
  animation: flotar 3s infinite;
  /* alternate: la animación una vez que 
finaliza, se reproduce a la inversa (1-2-3-2-1)*/
  animation-direction: alternate;

}

/*ARTICULOS------------------------------*/
.main-section.catalogo .contenedor {
  overflow: hidden;
  padding: 1%;
}

.main-section.catalogo .titulo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-section.catalogo .titulo h3 {
  margin-bottom: 4%;
  font-size: 27px;
  font-weight: 400;
  color: var(--gris-texto);
}

.carrousel {
  display: flex;
  width: 100%;
  position: relative;
  animation: carrouselProd 30s infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in;
}

.art.wrap {
  width: 25%;
  justify-content: center;
  padding: 3%;
  position: relative;
  border: solid 1px #c5c5c5;
  margin: 0 1%;
  border-radius: 5px;
  background: var(--gris-fondo);
}

.fotoArt {
  width: 150px;
  height: 150px;
}

#imgProd {
  width: 100%;
}

.nombreArt {
  font-size: 15px;
}

.modelos {
  font-size: 15px;
  overflow: auto;
}

.oem {
  font-size: 15px;
  width: 100%;
  overflow: auto;
}

.codigo {
  width: 50%;
  text-align: left;
}

.precio {
  width: 50%;
  text-align: right;
}

.main-section.catalogo .art a {
  text-decoration: none;
  width: 94px;
  border-radius: 5px;
  padding: 3px;
  background: var(--rojo);
  border: solid 2px var(--rojo);
  text-align: center;
  color: white;
  margin: 3%;
}

#artDest {
  position: absolute;
  width: 30%;
  top: 0;
  right: 0px;
}

/* SER CLIENTE ------------------------------------*/
.main-section.ser_cliente {
  text-align: center;
  padding: 10% 0%;
  padding-top: 5%;
  background: url(/images/fondos/main-clientes.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
}

.ser_cliente h3 {
  font-weight: 400;
  color: #fff;
}

.ser_cliente .boton {
  width: 179px;
  display: flex;
  justify-content: center;
  padding: 12px;
  border: solid 1px var(--rojo);
  border-radius: var(--radius);
  color: #fff;
  margin: auto;
  margin-top: 4%;
}

.boton:hover {
  background: linear-gradient(180deg,
      var(--rojo-hover) 0%,
      var(--rojo) 100%);
  border: none !important;
  color: white;
}

.ser_cliente a {
  text-decoration: none;
}

/*CONTACTO-----------------------------------------*/
.content-form {
  width: 80%;
}

.main-section.contacto {
  background-color: var(--gris-fondo);
}

.contacto .contenedor {
  padding: 5% 0% 5% 0%;
}

.contacto .contenedor .header {
  display: block;
  width: 100%;
}

.contacto .header h2 {
  font-weight: 400;
}

.contacto .header :nth-child(1) {
  margin-bottom: 3%;
}

.contacto .header :nth-child(2) {
  margin-bottom: 3%;
}

.contacto .contenedor .form {
  display: flex;
  flex-wrap: wrap;
}

/* FORMULARIO---------------------------------*/
.form-col {
  width: 50%;
}

.form-col.izq {
  justify-content: space-between;
  font-weight: 600;
}

.form-col.izq label {
  margin: 5px;
}

.form-col.izq input {
  width: 67%;
  height: 19px;
  border-radius: 13px;
  border: solid 0.5px #cccccc;
  padding: 1px;
  margin-right: 25%;  
  margin: 5px;
}

.form-col.der {
  width: 48%;
  margin-left: 2%;
}

.form-col.der label {
  width: 100%;
  display: block;
}

.form-col.der textarea {
  height: 100px;
  border-radius: 16px;
  border: solid 0.5px #cccccc;
  padding: 3px;
  width: 70%;
}

#boton {
  margin-top: 2%;
  background: var(--rojo);
  color: white;
  padding: 3px 5px;
  border-radius: 5px;
  border: solid 1px transparent;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
}

/*TELEFONOS------------------------------------------*/
.content-telf {
  width: 20%;
}

.info-contacto {
  justify-content: left;
  text-align: left;
}

.info-contacto .item {
  margin: 3px 0px;
}

.info-contacto .item h4 {
  font-weight: 800;
  color: var(--rojo);
  font-size: 20px;
}

.info-contacto .item p {
  font-size: 15px;
  font-weight: 600;
}

/* EXTRA SMALL----------------------------------------------------- */
@media (max-width: 768px) {

  /* MENU DESPLEGABLE */
  .menu {
    position: absolute;
    top: 75px;
    left: 0;
    width: 50%;
    background: #000;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease;
    z-index: 9;
    border-radius: var(--radius);
  }

  
  .menu.active {
    max-height: 300px;
  }

  .menu-wrapper {
    display: none;
  }

  .header {
    height: 70px;
  }

  .logo img {
    width: 100%;
    margin: 0px 0px;
  }

  .wrap .logo img {
    width: 25%;
  }

  /* USUARIOS */
  .page-header.redes {
    display: none;
  }

  /* BANNERS */
  .main-section.header .contenedor {
    width: 100%
  }

  .main-section.header::before {
    content: none;
  }

  /* <br> de fuera de catalogo*/
  .slider .text.destacados br {
    display: none;
  }

  /* SEPARADOR */
  .main.separador {
    display: none;
  }

  /* SECCIONES */
  .main-section.subpaginas .item {
    top: 10px;
    width: 155px;
  }

  /* SER CLIENTE */
  .main-section.ser_cliente {
    margin: 35% 0%;
  }

  /* CONTACTO */
  .contacto .header:nth-child(1) {
    text-align: center;
  }

  .contacto .header:nth-child(2) {
    margin-left: calc(50% - 12px);
  }

  .header.contacto {
    display: flex;
    flex-wrap: wrap;
  }

  .header.contacto h2 {
    text-align: center;
    width: 100%;
  }

  .header.contacto svg {
    margin: auto;
  }

  .content-form,
  .form-col.izq,
  .form-col.der,
  .content-telf,
  .info-contacto .item {
    width: 100%;
    text-align: center;
  }

  .form form {
    justify-content: center;
    text-align: center;
  }

  .form-col.izq label,
  .form-col.izq input {
    width: 100%;
  }

  .form-col.der textarea {
    width: 100%;
    margin-top: 5%;
  }

  #boton {
    margin-bottom: 15%;
  }

  /*FOOTER*/
  .main-section.footer {
    overflow: hidden;
    width: 100%;
    height: auto;
    display: none;
  }

  .main-section.footer .contenedor .item {
    width: 100%;
  }

  .footer .item h3 {
    background: #b50606;
    margin-bottom: initial;
  }

  

  .banner .items {
    width: 100%;
    min-height: 50%;
    margin-top: 0px;
  }  
}

/* SMALL-----------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 991px) {

  /* MENU DESPLEGABLE */
  .menu-movil {
    display: none;
  }
}

/* MEDIUM---------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {

  /* MENU DESPLEGABLE */
  .menu-movil {
    display: none;
  }
}

/* LARGE----------------------------------------------------------------------------------------*/
@media (min-width: 1201px) {

  /* MENU DESPLEGABLE */
  .menu-movil {
    display: none;
  }
}