<title>Comprobante - Altamira Group.</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.1/jspdf.debug.js"
    integrity="sha384-THVO/sM0mFD9h7dfSndI6TS0PgAGavwKvB5hAxRRvc0o9cPLohB0wb/PTA7LdUHs"
    crossorigin="anonymous"></script>
<script src="https://unpkg.com/jspdf@latest/dist/jspdf.min.js"></script>
<script type="text/javascript" src="../jsPDF/jspdf.js"></script>
<script type="text/javascript" src="../jsPDF/jspdf.plugin.addimage.js"></script>
<script type="text/javascript" src="../jsPDF/jspdf.plugin.standard_fonts_metrics.js"></script>
<script type="text/javascript" src="../jsPDF/jspdf.plugin.split_text_to_size.js"></script>
<script type="text/javascript" src="../jsPDF/jspdf.plugin.from_html.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<body>
	<iframe frameborder="0" width="100%" height="1200px"></iframe>
	<canvas><img src="/images/fondo_comprobante.png" alt=""></canvas>
<script>
	axios.get('/api/comprobantes/<%= numero %>?tipo=<%= tipo %>&PDF=true&cliente=<%= cliente %>&numero=<%= numero %>')
	.then(result => {
		// DATA TRAIDA DE API --------------------------------------------------
		const data = result.data.response;
		// DATA TRAIDA DE API --------------------------------------------------
		let articulos = data.articulos[0];
		let artPorPag = 42; // articulos maximos totales por pagina
		let pagTotal = Math.ceil(articulos.length / 42) + 1 // total de articulos / articulos por pagina
		let artCuenta = 1; // llevar la cuenta del articulo que se esta imprimiendo
		let totalFactura = 0; // monto total de la factura
		let descuentoCliente; // % de descuento del cliente
		let descuento; // descuento cliente * totalFactura / 100
		let subtotal;
		let ivaInsc;

		const doc = new jsPDF('p', 'mm', 'A4'); // portrait, milimetros, formato A4

		let canvas = document.querySelector('canvas');
		//let imgFondo ="afeff";
		//doc.addImage(imgFondo, "PNG", 15, 40, 180, 180);

		for (let numPag = 1; numPag < pagTotal; numPag++) {
			if (numPag > 1) {
				doc.addPage();
			};
			// Styled document
			doc.setTextColor(255, 0, 0);
			doc.setDrawColor(255, 0, 0)
			doc.setLineWidth(0.3)
			doc.setFontSize(11)
			doc.text(65, 17, 'Altamira Group S.A.',"center");
			doc.setFontSize(8)
			doc.text(65, 20, 'Distribuidora mayorista',"center");
			doc.text(65, 23, 'de repuestos para el automotor',"center");
			doc.text(65, 26, 'Adm y Ventas: Av Saenz 351 (1437) CABA',"center");
			doc.text(65, 29, 'Tel/Fax 0800-4440097',"center");
			doc.text(65, 32, 'Fax 0800-7770097/0800-7770098',"center");
			doc.text(65, 35, 'Tel (011)4912-1618 / 4911-8720',"center");
			doc.text(65, 40, 'IVA RESPONSABLE INSCRIPTO',"center");
			// desde - pos vertical izq - hasta - pos vertical der
			doc.line(15, 10, 195, 10)
			doc.line(15, 10, 15, 270)
			doc.line(195, 10, 195, 270)
			doc.setFontSize(10);
			doc.text('N° 000',140,22.5)
			doc.setFontSize(09);
			doc.text('Fecha',140, 28)
			doc.text('CUIT',140, 35)
			doc.text('30-70960518-2',191, 35,"right")
			doc.text('Ing Brutos N°',140, 39)
			doc.text('901/219201/7',191, 39,"right")
			doc.text('Inicio de actividades',140, 43)
			doc.text('01/05/06',191, 43,"right")
			doc.line(106, 16, 117, 16)
			doc.line(106, 16, 106, 28)
			doc.line(106, 28, 117, 28)
			doc.line(117, 16, 117, 28)
			doc.line(112, 28, 112, 45)
			doc.line(15, 45, 195, 45)
			doc.text('Señor/es',19, 54)
			doc.text('Domicilio',115, 54)
			doc.text('CUIT',19, 63.4)
			doc.line(15, 68, 195, 68)
			doc.setFontSize(8)
			doc.text('Aparte del descuento al pie de la presente fatura, Us podrá',19, 73.5)
			doc.text('beneficiarse con un descuento extra, dependiendo de la fecha',19, 77)
			doc.text('de pago, según la tabla detallada',19, 80.2)
			doc.text('Antes del', 110, 73.5)
			doc.text('Antes del', 110, 77)
			doc.text('Antes del', 110, 80.2)
			doc.text('Descuento', 145, 73.5)
			doc.text('Descuento', 145, 77)
			doc.text('Descuento', 145, 80.2)
			doc.setTextColor(0, 0, 0);
			doc.text('20%', 163, 73.5)
			doc.text('10%', 163, 77)
			doc.text('0%', 164.5, 80.2)
			doc.setTextColor(255, 0, 0);
			doc.line(15, 83, 195, 83)
			doc.text('ART', 20, 89)
			doc.text('CANT', 32, 89)
			doc.text('DESCRIPCIÓN', 43, 89)
			doc.text('DESPACHO', 140, 89)
			doc.text('P.UNIT', 165, 89)
			doc.text('SUB TOTAL', 178, 89)
			doc.line(15, 92, 195, 92)
			doc.text('FLETE', 18, 252)
			doc.setFontSize(7)
			doc.text(18,255,'Venta realizada en nuestro depósito de bs as y de ser remitida va por cuenta y orden del comprador')
			doc.text(140,255,'Subtotal (incluye transporte)')
			doc.line(15, 248, 195, 248)
			doc.text(30, 260,'SUBTOTAL GRAVADO',"center")
			doc.text(63, 260,'SUBTOTAL EXCENTO',"center")
			doc.text(90, 260,'DESCUENTO',"center")
			doc.text(115, 260,'SUBTOTAL',"center")
			doc.text(142, 260,'IVA INSC',"center")
			doc.text(185, 260,'TOTAL',"center")
			doc.line(15, 257, 195, 257)
			doc.line(15, 262, 195, 262)
			doc.line(15, 270, 195, 270)
			doc.setFontSize(9)
			doc.setTextColor(0, 0, 0);
			// START HEADER-----------------------------------
			// tipo de fact
			doc.setFontSize(20);
			doc.setFontType("bold");
			doc.text(109, 24, "A");
			//codigo
			doc.setFontType("normal");
			doc.setFontSize(9)
			doc.text(115, 39, "Codigo 01");
			//tipo de comprobante
			doc.setFontSize(13);
			doc.text(155, 18, data.comprobante[0].tipo);
			// numero de factura
			doc.setFontSize(10);
			doc.text(155, 22.5,'00' + data.comprobante[0].numero.toString());
			// fecha
			doc.setFontSize(9);
			doc.text(175, 28, data.comprobante[0].fecha.substring(0,10));
			// cliente
			doc.text(34, 54, data.cliente.razon_social);
			// numero cliente
			doc.text(95, 54, data.cliente.numero.toString());
			// vendedor
			doc.text(105, 54, data.cliente.viajante_id.toString());
			// direccion
			doc.text(131, 54, data.cliente.direccion);
			// cuit
			doc.text(34, 63.4, data.cliente.cuit);
			// resp inscripto
			doc.text(70, 63.4, data.cliente.situacion_iva);
			// descuentos fechas
			doc.setFontSize(8);
			doc.text(126, 73.5, "00/00/0000");
			doc.text(126, 77, "00/00/0000");
			doc.text(126, 80.2, "00/00/0000");
			// descuentos montos
			doc.text(170, 73.5, "------");
			doc.text(170, 77, "------");
			doc.text(170, 80.2, "------");
			// END HEADER-----------------------------------

			let artPosition = 96; // posicion vertical de los renglones
			let indice = 0; // cuenta para iterar en el array de productos
			for (let art = artCuenta; artCuenta <= (artPorPag * numPag); artCuenta++) {
				let numero = articulos[indice].articulo_id;
				let cantidad = articulos[indice].cantidad;
				let descripcion = articulos[indice].descripcion.substring(0,25);
				let modelos = articulos[indice].modelos ? articulos[indice].modelos.substring(0, 20) : '';
				let despacho = articulos[indice].despacho ? articulos[indice].despacho : '';
				let precio = articulos[indice].precio;
				let total = (precio * cantidad);

				doc.text(20, artPosition, numero);
				doc.text(38, artPosition, cantidad.toString(), 'right');
				doc.text(44, artPosition, descripcion);
				doc.text(100, artPosition, modelos);
				doc.setDrawColor(0); // recuadro gris
				doc.setFillColor(204, 204, 204); // recuadro gris
				doc.rect(140, artPosition - 2, 16, 3, 'F'); // recuadro gris
				doc.text(148, artPosition, despacho, 'center');
				doc.text(175, artPosition, precio.toString(), 'right');
				doc.text(190, artPosition, total.toString(), 'right');

				indice++

				artPosition += 3.5; // agregar salto de linea
				if (artCuenta == articulos.length) break;
			}
			// START FOOTER -----------------------------------------------
			if (numPag == pagTotal - 1) {
				// transporte
				doc.setFontSize(9);
				doc.text(28, 252, data.comprobante[0].transporte);
				// subtotal
				doc.setFontSize(8);
				doc.text(175, 255, "subtotal");
				doc.setFontSize(9);
				// subtotal gravado
				doc.text(23, 267.5, "0.00");
				// subtotal excento
				doc.text(50, 267.5, "0.00");
				doc.text(64, 267.5, "25.00%");
				// descuento
				doc.text(90, 267.5, "-0.00", "center");
				// subtotal
				doc.text(110, 267.5, "0.00");
				// IVA insc
				doc.text(140, 267.5, "0.00");
				// total
				doc.setFontSize(10);
				doc.setFontType("bold");
				doc.text(190, 267.5, data.comprobante[0].valor.toString(), "right");
				doc.setFontType("normal");
				doc.text(190, 275, "C.A.E. Nº: " + data.comprobante[0].cae, "right");
			}
			// END FOOTER -----------------------------------------------

		};
		// Insertar PDF en el navegador
		var string = doc.output('datauristring');
		doc.setProperties({
			title: 'Factura',
			subject: 'Comprobante de Factura',
			author: 'Altamira Group'
		});
		// capturar etiqueta "iframe"
		let iframe = document.querySelector('iframe');
		// insertarle el PDF a través del atributo
		iframe.setAttribute('src', string);
	});
</script>
</body>