<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') %>
    <meta name="googlebot" content="noindex">
    <meta name="robots" content="noindex">
    <!-- CSS-->
    <link rel="stylesheet" href="/css/headerClientes.css">
    <link rel="stylesheet" href="/css/clientes/panel.css">
    <link rel="stylesheet" href="/css/clientes/seguimientos.css">
</head>

<body>
    <%- include('../partials/clientes/headerClientes') %>
    <section class="consulta">
        <div class="comprobantes">
            <h2>Estado de su pedido N°: <span id="nfact"> factura N°</span></h2>
            <p></p>
             <img src='/images/estado_pedido/enviado.jpg' alt='Pedido Facturado'>
            <div class="contenedor_comp">
                <table class="tabla_comprobantes">
                    <tr>
                        <th id="titulo">NºCUENTA</th>
                        <th id="titulo">Nº PEDIDO</th>
                        <th id="titulo">Nº FACT.</th>
                        <th id="titulo">SALIDA</th>
                        <th id="titulo">TRANSPORTE</th>
                    </tr>
                    <tr>
                        <td id="dato">cuenta</td>
                        <td id="dato">preparado</td>
                        <td id="dato">factura</td>
                        <td id="dato">enviado</td>
                        <td id="dato">transporte</td>
                    </tr>
                    <tr>
                        <td id="fecha">cuenta</td>
                        <td id="fecha">fecha pre</td>
                        <td id="fecha">fecha fact</td>
                        <td id="fecha">fecha salida</td>
                        <td id="fecha">transporte</td>
                    </tr>
                </table>
            </div>
        </div>
        <a href="/clientes/perfil" id="volver">Volver</a>
    </section>
</body>

</html>